@use "../../../styles/constants" as c;
@use "sass:map";

$variants: (
  "default": null,
  "withIcon": (
    display: flex,
    justify-content: center,
    gap: 0.2rem,
  ),
  "green": (
    background-color: c.$color_green,
  ),
  "red": (
    background-color: c.$color_red,
    color: c.$color_white,
  ),
  "outlined": (
    background-color: transparent,
    color: c.$color_white,
    border: 2px solid c.$color_white,
    display: flex,
    justify-content: center,
    align-items: center,
  ),
  "icon": (
    background-color: c.$color_main,
    display: flex,
    justify-content: center,
    align-items: center,
    height: 2.7rem,
    width: 2.7rem,
  ),
);

$variants_hover: (
  "default": (
    background-color: c.$color_main--hover,
  ),
  "withIcon": (
    background-color: c.$color_main--hover,
  ),
  "green": (
    background-color: c.$color_green--hover,
  ),
  "red": (
    background-color: c.$color_red--hover,
  ),
  "outlined": (
    background-color: c.$color_white,
    color: c.$color_background,
  ),
  "icon": (
    background-color: c.$color_main--hover,
  ),
);

@mixin applyVariant($isForHover, $variant) {
  @if $isForHover {
    @if map.has-key($variants_hover, $variant) {
      @each $key, $value in map.get($variants_hover, $variant) {
        #{$key}: #{$value};
      }
    } @else {
      @warn "Variant #{$variant} is not defined in $variants_hover";
    }
  } @else {
    @if map.has-key($variants, $variant) {
      @each $key, $value in map.get($variants, $variant) {
        #{$key}: #{$value};
      }
    } @else {
      @warn "Variant #{$variant} is not defined in $variants";
    }
  }
}

.button {
  padding: 0.7rem;
  width: fit-content;
  height: 2.6rem;
  border-radius: c.$border_r_sm;
  border: none;
  transition: background-color 0.15s ease-in-out;
  background-color: c.$color_main;
  font-size: c.$text_sm;
  font-weight: 600;
  color: c.$color_background;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
  }

  .btnIcon {
    width: 1.3rem;
    height: 1.3rem;
  }
  &:focus {
    outline: 2px solid c.$color_main;
    outline-offset: 1px;
  }

  @each $variant in map.keys($variants) {
    &[data-variant="#{$variant}"] {
      @include applyVariant(false, $variant);
      @if $variant == "icon" {
        .btnIcon {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
      @if $variant == "green" {
        &:focus {
          outline-color: c.$color_green;
        }
      }
      @if $variant == "red" {
        &:focus {
          outline-color: c.$color_red;
        }
      }
      @if $variant == "outlined" {
        &:focus {
          outline-color: c.$color_white;
        }
      }

      &:hover {
        @include applyVariant(true, $variant);
      }
    }
  }

  // &:active {
  //   animation: clicked 0.2s ease-in-out;
  // }
}

// @keyframes clicked {
//   10% {
//     transform: scale(1);
//   }
//   20% {
//     transform: scale(0.99);
//   }
//   30% {
//     transform: scale(0.98);
//   }
//   40% {
//     transform: scale(0.97);
//   }
//   50% {
//     transform: scale(0.96);
//   }
//   60% {
//     transform: scale(0.97);
//   }
//   80% {
//     transform: scale(0.98);
//   }
//   90% {
//     transform: scale(0.99);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
