@font-face {
  src: url("../../fonts/AguDisplay-Regular.ttf");
  font-family: "Logo";
}

@font-face {
  src: url("../../fonts/JetBrainsMono-Regular.ttf");
  font-family: "JetBrains";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url("../../fonts/JetBrainsMono-Italic.ttf");
  font-family: "JetBrains";
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url("../../fonts/JetBrainsMono-SemiBold.ttf");
  font-family: "JetBrains";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url("../../fonts/JetBrainsMono-Bold.ttf");
  font-family: "JetBrains";
  font-style: normal;
  font-weight: bold;
}
